PORT=8000
MONGODB_URI=mongodb+srv://Jute123:userPass@mern-jute-products.l0rhbk3.mongodb.net/jutecart?retryWrites=true&w=majority
TOKEN_SECRET_KEY="QWEWRWETWQEIUTIOEKALDJGAADSKGLJASDKLGJIOETU"
RAZORPAY_KEY_ID=rzp_test_jbhskjdhksjhksjb
RAZORPAY_KEY_SECRET=ncmknkccnsknc
RAZORPAY_WEBHOOK_SECRET=ABHAY@123456789
FRONTEND_URL = http://localhost:3000
